body,
html,
* {
    font-size: 10px;
    box-sizing: border-box;
    padding: 0;
    font-family: "Inconsolata", monospace;
}
body{
    background-image: linear-gradient(rgba(63, 24, 47, 10), rgba(78, 34, 5, 10), rgba(83, 45, 21, 10), rgba(77, 77, 77, 10), rgba(68, 28, 52, 10), rgba(62, 23, 47, 10), rgba(57, 0, 31, 10));
    color: azure;
}
.container{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
a{
    color: rgb(213, 255, 255);
}
h1{
    font-size: 3rem;
    text-align: center;
    text-shadow: black 1px 1px 2px;
}
.result{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card,
.input{
    padding: 0.5rem;
    background-color: #1a0035;
    margin: 0.5rem 0;
    width: 22%;
    height: auto;
    text-align: center;
    align-items: center;
    border-radius: 15px;
    box-sizing: border-box;
    text-shadow: black 1px 1px 2px;
}
@media screen and (max-width:768px){
    .card{
        width: 28%;
        height: auto;
    }
}
@media screen and (max-width:470px){
    .card{
        width: 34%;
        height: auto;
    }
}
@media screen and (max-width:280px){
    .card{
        width: 55%;
        height: auto;
    }
}