body,
html,
* {
    font-size: 10px;
    box-sizing: border-box;
    padding: 0;
    font-family: "Inconsolata", monospace;
}
body{
    background-color: black;
    color: azure;
}
.container{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
a{
    color: rgb(213, 255, 255);
}
h1{
    font-size: 3rem;
    text-align: center;
}
.result{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card{
    padding: 0.5rem;
    background-color: #1a0035;
    margin: 0.5rem 0;
    width: 22%;
    height: auto;
    text-align: center;
    align-items: center;
    border-radius: 15px;
    box-sizing: border-box;
    text-shadow: black 1px 1px 2px;
}
.input{
    background-color: rgb(15, 10, 58);
    padding: 0.5rem;
    margin: 0.5rem 0;
    width:fit-content;
    align-items: center;
}